html {

}

header {
    width: 100vw;
    text-align: center;
    background-image: linear-gradient(to right, cyan, darkblue);
    border-bottom: solid black 3px;
}

header h1 {
    padding: 10px;
    color: white;
}

div.sidebar{
    margin-left: 10px;
    width: 325px;
    margin-bottom: 20px;

}

div.sidebar-saved {
    border-top: solid lightgray 5px;
    width: 325px;
    margin-top: 20px;
}